.outer1{
    width:100%;
    height:70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EEEEEE;
}
.outer1 .inner1{
    width:40%;
    /* background-color: red; */
    display: flex;
    justify-content: center;
}
.outer1 .inner1 label{
    color:#000000;
    font-size: 13px;
    font-weight: 200;
}
.outer1 .inner1 label:hover{
    font-size: 13.5px;
    font-weight: 250;
}
.outer1 .inner1 label:active{
    color:blue;
}
.outer1 .inner1 input{
    width:500px;
    height:30px;
    border-radius: 10px;
    border:1px solid black;
    padding-left:3px;
    box-shadow: 10px 10px 10px gray , 10px 10px 10px rgb(215, 213, 213) inset;


}
.outer1 .inner1 input:hover{
    border:2px solid black;
}
.outer1 .inner1 input:active{
    border:2px solid blue;
}
.outer1 .inner1 textarea{
    border-radius: 10px;
    width:500px;
    border:1px solid black;
    padding:1px 3px 1px 3px;
}
.outer1 .inner1 textarea:active{
    border:2px solid blue;
}

.outer1 .inner1 button{
    background-color:#BCCCDC;
    width:500px;
    border-radius: 10px;
    border:1px solid black;
    height:30px
  
}
.outer1 .inner1 button:hover{
    color:white;
    background: linear-gradient(135deg, #2afadf 10%, #c346c2 100%);
}
.outer1 .inner1 button:active{
    color:black;
}
.outer1 .inner1 sup{
    color:red;
}

@media (width<660px) {
    .outer1{
        position: relative;
        top:-35vh;
    width:100%;
    height:70vh;
}
    .outer1 .inner1{
    width:100%;
}
    .outer1 .inner1 input{
    width:100%;
    /* height:30px; */


}
.outer1 .inner1 textarea{
    border-radius: 10px;
    width:100%;
   
}
.outer1 .inner1 button{
    background-color:#BCCCDC;
    width:100%;
  
}
}


/* hr{
    height:2px;
    background-color:blue;
    border-radius: 5px solid black;
    
} */
/* hr:hover{
    transition:all 2s ease-in-out 0.2s;
} */