/* .firstouter3{
    width:100%;
    height:47vh;
    display:block;
}
.firstouter3 .outer3{
    width:100%;
    height:40vh;
    background-color:#EEEEEE;
    display:flex;
    justify-content:center;
    align-items:center; 
}
.hr{
    background-color:black;
    border:1px solid gray;
    height:1px;
    margin:0vw 3vw 0vw 3vw;
}
.firstouter3 .outer3 .inner3{
    display:flex;
    width:90%;
}
.firstouter3 .outer3 .inner3 .footer-content{
    width:60%;
    display:block;
    color:black;
    background-color: #EEEEEE;
    font-size:.9em;
    font-weight: 300;
    text-align:left;
    padding:1vh 2vw 1vh 2vw;
}
.firstouter3 .outer3 .inner3 .footer-content number{
    display:block;
}
.firstouter3 .outer3 .inner3 .footer-content email{
    display:block;
    margin-bottom:10vh;
}
.firstouter3 .outer3 .inner3 .footer-content address{
    display:block;
}
.firstouter3 .outer3 .inner3 .footer-content ul{
    list-style:none;
    display:flex;
    justify-content: start;
    padding-top:3vh;
}
.firstouter3 .outer3 .inner3 .footer-content ul li{
    margin-right:1vw;
    background-color: white;
    border-radius:50%;
    padding:.2vh .5vh .2vh .5vh;
    box-shadow:5px 5px 5px grey,-5px -5px 5px white ;
    
}
.firstouter3 .outer3 .inner3 .footer-content ul li a{
    text-decoration:none;
    color:black;
    border-radius: 50%;
}
.firstouter3 .outer3 .inner3 .footer-content ul li:hover{
    box-shadow: 5px 5px 5px grey inset,-5px -5px 5px white  inset;
}   

.firstouter3 .outer3 .inner3 .footer-content1{
    width:40%;
    display:block;
    color:white;
    background-color: #EEEEEE;
    padding:2vh 2vw 2vh 2vw;
}
.firstouter3 .outer3 .inner3 .footer-content1 a{
    text-decoration:none;
    color:black;
    font-size: .9em;
    font-weight: 300;
    display:block;
}
.firstouter3 .outer3 .inner3 .footer-content1 button{

    margin-top:12vh;
    padding:.5vh 1vw .5vh 1vw;
    border:1.9px solid #BCA9FC;
    text-align: center;
    border-radius: 10px;
    background-color:#BCCCDC;
    color:balck;

}   
.firstouter3 .outer3 .inner3 .footer-content1 button:hover{
    cursor:pointer; 
    background: linear-gradient(135deg, #2afadf 10%, #c346c2 100%);
    color:#ffffff;
}
.copyright{
    width:100%;
    height:7vh;
    background-color:green;
    color:white;
    font-size:.8rem;
    display:flex;
}
.copyright copyright{
    margin-left:2vw;
    line-height:7vh;
}


@media (width<610px) {
    .firstouter3{
        position:relative;
    }
}
@media (width<460px) {
  .firstouter3{
    position:relative;
    width:100%;
    height:500px;
}
.firstouter3 .outer3{
    width:100%;
    height:500px;
    display:block;
}
.firstouter3 .outer3 .inner3{
    display:block;
    width:100%;
    position:absolute;
    top:1;
}
.firstouter3 .outer3 .inner3 .footer-content{
    width:100%;
    text-align:center;
}
.firstouter3 .outer3 .inner3 .footer-content ul{
    justify-content: space-evenly;
}
.firstouter3 .outer3 .inner3 .footer-content1{
    width:100%;
    text-align: center;
}
.firstouter3 .outer3 .inner3 .footer-content1 button{

    margin-top:10px;
    color:balck;

}   
.copyright{
    position:absolute;
    bottom:0;
}
} */