nav{
    width:100%;
    height:7vh;
    background-color:#EEEEEE;
    position: relative;
;
}
nav .name i{
    font-size:18px;
    line-height: 7vh;
    margin-right:10px;
}
nav .name{
    line-height:7vh;
    margin-left:20px;
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 650;
    opacity:0.9;
}
nav .name:hover{
    color:#3f0f0f;
    /* background-color: #E4E0E1; */
    opacity:1;
}
nav ul{
    float:right;
    display: flex;
    list-style:none;
    font-size:15px;
    color:#000000;
    /* right:7px; */
}
nav ul li{
    line-height: 7vh;
    margin:0 9px;
    
    /* background-color: yellow; */
}
nav ul li p{
    font-size:30px;
    font-weight: 300;
}

nav ul li .Link{
    text-decoration:none;
    padding: 4.5px 10px 4.5px 5px;
    border-radius: 5px;
    color:black;

    /* background-color: #896C6C; */
    transition:all 0.5s ease 0.1s;

}
nav ul li .Link:hover{
    /* color:white; */
    background-color: #896C6C;
}
nav ul li .Link:active{
    color:red;
    font-weight: 600;
    /* background-color: blueviolet; */
    /* font-size: 30px; */
}
nav ul li .Link:visited{
    color:#4F200D;
    font-weight: 400;
}
nav #crossbtn{
    font-size: 25px;
    position: absolute;
    place-items: center;
    right:20px;
    top:5px;

    display: none;

}

nav #checkbtn{
    float:right;
    line-height: 7vh;
    font-size:25px;
    display: none;
    transition: all .5s linear .2s;
}
nav #crossbtn,#checkbtn:hover{
    color:#3f0f0f;
    font-size: 26px;
    background-color: #ffffff;
    }
nav #crossbtn, #checkbtn:active{
    color:white;
    background-color: black;
}
nav #crossbtn:visited{
    color:white;
    background-color: black;
}
nav #check{
    display:none;
}
#check:checked ~ ul{
    left:0;
}
#check:checked ~ #crossbtn{
    display: block;
}
input:checked ~ #checkbtn{
    display:none;
}

@media(width<660px){
    nav ul{
        width:100%;
        height:35vh;
        background-color:#ffffff;
        box-shadow: 0px 3px 5px rgb(93, 74, 74), -3px -3px 5px rgb(57, 57, 64);
        flex-direction: column;
        align-items: center;
        position: relative;
        left:-102%;
        z-index: 900;
        transition: all 1s ease 0.2s;
    }
    nav p{
        display: none;
    }
    nav ul li{
        /* background-color: chartreuse; */
        margin:5px 0px 0px 0px;
        
    }
    nav #checkbtn{
        display: block;
        margin-right:20px;
        height:7vh;
    }
   
}
@media (width<300px) {
     nav .name{
        font-size:6vw ;
    }
}
@media (width<200px) {
     nav .name{
        font-size:3vw ;
    }
}

