.navbar{
    display:flex;;
    height:7vh;
    width:100%;
    position:sticky;
    top:0;
    background-color: #EEEEEE;
    z-index:999;
}

.navbar-container{
    display:flex;
    align-items:center;
    justify-content: space-between;
    width:100%;
    padding:0 2rem;
}

.navbar-logo{
    font-size:1.5rem;
    font-weight: 600;
    color:black;
    text-decoration: none;
    cursor:pointer;
}
.navbar-container .navbar-menu{
    display:flex;
    text-align: center;
    list-style:none;  
}
.navbar-container .navbar-menu li{
    padding-top:3px;
    padding-bottom:3px;
    margin-right:1vw;
}
.navbar-container .navbar-menu li a{
    text-decoration: none;
    color:black;
    font-size:1rem;
    font-weight:500;
    padding:3px 10px 3px 10px;
    border-radius: 10px;
    border:2px solid transparent;
    transition: all 0.7s ease;
}

.navbar-container .navbar-menu li a:hover{
    color:white;
    background: rgba(95, 22, 22, 0.8);
    /* border:2px solid #162530; */
}
.navbar-container .navbar-menu li a:active{
    color:aqua;
}

.navbar-toggle{
    display:none;
    background:transparent;
    padding:10px;
    border:none;
    cursor:pointer;
}
.bar{
    display:block;
    width:25px;
    height:3px;
    margin:5px auto;
    background:#000;
    color:white;
    transition:all 0.5s ease-in-out;
}


@media (max-width: 660px) {
    .navbar{
        backdrop-filter:none;
    }
    .navbar-container .navbar-menu{
        display:none;
        flex-direction: column;
        align-items: flex-start;
        gap:1.7em !important;
        position:absolute;
        height:100vh;
        width:250px;
        top:0;
        right:0;
        padding:5rem 1.5rem;
        box-shadow: 0 10px 10px rgba(0,0,0,0.5);
        backdrop-filter: blur(10px);
    }
    .navbar-container .navbar-menu li:hover{
        width:100%;
        background-color: rgba(95, 22, 22, 0.9);
        text-align: left;
    }
    .navbar-container .navbar-menu.active{
        display:flex;
    }
    .navbar-toggle{
        display:block;
        z-index: 999;
    } 
    .navbar-toggle.active .bar:nth-child(2){
        opacity:0;

    }
    .navbar-toggle.active .bar:nth-child(1){
        transform:translateY(8px) rotate(45deg);
    }
    .navbar-toggle.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
}
@media (width<320px) {
    .navbar-logo{
        font-size: 1rem;
    }
}
@media (width<254px) {
    .navbar-logo{
        font-size: 5vw;
    }
}
