
.projects{
    width:100%;
    padding:3vh 13vw 3vh 13vw;
    /* text-align: center; */
}
.projects h1{
    width:100%;
    font-size:2rem;
}
.projects h2{
    font-size:1.2rem;
    font-weight: 700;
    margin-top:10px;
    text-align:center;

}
.projects .hrr1{
    background-color:black;
    border:1px solid black;
    height:1px;
}

.projects ul{
    list-style:none;
}

@media (width<700px) {
    .projects .contact-info{
    font-size: .7rem;
} 
.projects h1{
    font-size:1.5rem;
}
.projects h2{
    font-size:1rem;
}
}
@media (width<540px) {
    .projects .contact-info{
    font-size: .5rem;
} 
.projects h1{
    font-size:1.5rem;
}
.projects h2{
    font-size:1rem;
}

}
@media (width<400px) {
    .projects ul{
        width:flex;
        flex-direction:column;
        gap:5px;
    }
}